In [2]:
# Import pandas
import pandas as pd

In [3]:
# Create a DataFrame with balance.txt
df_balance =pd.read_csv("balance.txt", sep=' ', header=0)
print(df_balance)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

In [4]:
#comparing the average income based on ethnicity 
ethnicity_income_columns= df_balance[["Income", "Ethnicity"]] #double "" to keep the headers, single'' for just data
print(ethnicity_income_columns)
#to get the data for just caucasian people in the ethnicity_income_colums
filtered_df_Caucasian= ethnicity_income_columns.query('Ethnicity=="Caucasian"')
#selecting the series Income for mean
average_filtered_df_Caucasian= filtered_df_Caucasian.loc[:, 'Income'].mean()
#data and mean for Asian people
filtered_df_Asian= ethnicity_income_columns.query('Ethnicity=="Asian"')
average_filtered_df_Asian= filtered_df_Asian.loc[:, 'Income'].mean()
#data and mean for African Americans
filtered_df_African_American= ethnicity_income_columns.query('Ethnicity=="African American"')
average_filtered_df_African_American= filtered_df_African_American.loc[:, 'Income'].mean()
print(f'The highest average income is for African Americans at{average_filtered_df_African_American} followed by Caucasian people at {average_filtered_df_Caucasian} \nand Asian people at {average_filtered_df_Asian}')

      Income         Ethnicity
0     14.891         Caucasian
1    106.025             Asian
2    104.593             Asian
3    148.924             Asian
4     55.882         Caucasian
..       ...               ...
395   12.096         Caucasian
396   13.364  African American
397   57.872         Caucasian
398   37.728         Caucasian
399   18.701             Asian

[400 rows x 2 columns]
The highest average income is for African Americans at47.68210101010099 followed by Caucasian people at 44.521944723618084
and Asian people at 44.18783333333334

In [5]:
#On average do married or single people have higher balances
balance_married_unmarried_columns= df_balance[["Balance", "Married"]]
print(balance_married_unmarried_columns)
#selecting series for Married people 
filtered_married = balance_married_unmarried_columns.query('Married=="Yes"')
average_filtered_married_balance =filtered_married.loc[:, 'Balance'].mean()
#selecting non married people 
filtered_unmarried = balance_married_unmarried_columns.query('Married=="No"')
average_filtered_umarried_balance =filtered_unmarried.loc[:, 'Balance'].mean()
print(f'On average, unmarried people have the higher balance {average_filtered_umarried_balance} \ncompared with married people {average_filtered_married_balance}')

       Balance Married
0    12.240798     Yes
1    23.283334     Yes
2    22.530409      No
3    27.652811      No
4    16.893978     Yes
..         ...     ...
395   8.764984     Yes
396   9.943838      No
397  14.882078     Yes
398  12.001071     Yes
399  10.159598      No

[400 rows x 2 columns]
On average, unmarried people have the higher balance 13.493509015134242
compared with married people 13.388473477498913

In [6]:
#highest income in the dataset 
income_series=df_balance[["Income"]]
highest_income = income_series.max()
print(f'highest_income in the dataset is {highest_income}')

highest_income in the dataset is Income    186.634
dtype: float64

In [7]:
#lowest income in the dataset
income_series_1= df_balance[["Income"]]
lowest_income= income_series_1.min()
print(f'lowest_income in the dataset is {lowest_income}')

lowest_income in the dataset is Income    10.354
dtype: float64

In [8]:
#how many cards recorded in the dataset
cards_series= df_balance[["Cards"]]
total_no_of_cards= cards_series.sum()
print(f'total number of cards is {total_no_of_cards}')

total number of cards is Cards    1183
dtype: int64

In [9]:
#How many females do we have information for vs how many males
male_female_info= df_balance[["Gender"]]
print(male_female_info)
filtered_men= male_female_info.value_counts()['Male']
filtered_female= male_female_info.value_counts()['Female']
print(f'total number of Males in the dataset is {filtered_men} and females is {filtered_female}')

     Gender
0      Male
1    Female
2      Male
3    Female
4      Male
..      ...
395    Male
396    Male
397  Female
398    Male
399  Female

[400 rows x 1 columns]
total number of Males in the dataset is 193 and females is 207

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity.
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()` for a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).